.post {
  margin-top: 20px;
  margin-bottom: 10px;
}

.popular {
  font-weight: bold;
  color: gray;
  cursor: pointer;
}



.post-image {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.post-image img {
  width: 192px;
  height: 108px;
}

.post-title {
  height: 108px;
}


.comment-details {
  padding-top: 10px;
}

.comment {
  padding-top:10px;
  padding-bottom: 10px;
}

.each-comment {
  border-bottom: 1px solid lightgray;
}

.each-popular {
  margin-bottom: 20px;
}
