.categories {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
}

.tour-image image {
  width: 20px;
}

.tour-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.tour-type {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);;
  height: 100%;
  width: 100%;
  z-index: 2;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  padding: 30%;
}

.categorisation {
  position: relative;
  top: 90vh;
  height: 1500px;
  background-color: #fff;
}
