.col-md-12 {
  background-color: #fff;
  padding: 5px;
}
.container {
  background-color: #f7f5ee;
}
body h3 {
  text-align: center;
  background-color: #272626;
  padding: 5px;
  color: #fff;
  box-shadow: 4px 4px 5px #c5c5c5;
}

.home-wrapper {
  background-color: #f7f5ee;
  margin-top: 50px;
}

.item {
  height: 250px;
  width: 200px;
  display: inline-block;
  border-radius: 5px;
  margin: 1px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 6px #c2c5c5;
}
.item:hover {
  height: 250px;
  width: 200px;
  display: inline-block;
  border-radius: 5px;
  margin: 1px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 6px #c2c5c5;
}
.item-info {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 1000ms;
}
.item-info:hover {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.item-info:hover #title {
  color: rgba(255, 255, 255, 1);
}
.item-info #title {
  color: rgba(0, 0, 0, 0);
}
.item-info:hover #author {
  color: rgba(255, 255, 255, 1);
}
.item-info #author {
  color: rgba(0, 0, 0, 0);
}
#title {
padding: 200px 5px 5px 5px;
transition-property: all;
transition-duration: 1000ms;
}
#author {
  font-size: 0.8em;
  padding: 0px 5px 5px 5px;
  transition-property: all;
  transition-duration: 1000ms;
}
.item-image {
  overflow: hidden;
  height: 350px;
  position: absolute;


}


.item-image img {
  max-height: 350px;
  margin-left: -35%;
  border-radius: 5px;
}

.banner {
  height: 400px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 4px 4px 5px #c5c5c5;
}

.banner-container {
  height: 400px;
  position: relative;
  padding: 0px;
  z-index: 1;
  overflow: hidden;
}

.banner-container img {
  height: 400px;
  width: 100%;
}

.controller {
  position: absolute;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);;
  z-index: 2;
  top: 0px;
  text-align: center;
}

/*
.controller ul li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  display: inline-block;
}

.controller li {
  width: 150px;
}*/

.controller-tabs {
  display: inline-flex;
  width: 200px;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
}

.controller p {
  font-size: 1.6em;
  color: #fff;
  margin-top: 150px;
}

.controller span {
  background-color: rgba(0, 220, 255, 0.5);;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#left {
  position: absolute;
  height: 400px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.4);;
  z-index: 2;
  top: 0px;
  text-align: center;
  font-size: 30px;
  padding-top: 150px;
  cursor: pointer;
  display: none;
}

#right {
  position: absolute;
  height: 400px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.4);;
  z-index: 2;
  top: 0px;
  right: 0px;
  text-align: center;
  font-size: 30px;
  padding-top: 150px;
  cursor: pointer;
  display: none;
}


.right-side {
  margin-top: 15px;
}

.right-side img {
  margin-bottom: 20px;
}
