<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog Layout</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" >

<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="pinterest_layout.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="wrapper">
	<div id="columns">

		<div class="pin">
      <div class="overlay">
        <button type="button" class="btn btn-default btn-sm" style="color: red; float: left;">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </button>

        <div class="share-list">
          <ul>
            <li><img src="img/fb.png"/></li>
            <li><img src="img/twitter.png"/></li>
            <li><img src="img/pin.png"/></li>
          </ul>

        </div>
      </div>
			<img src="1.jpg" />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Sed feugiat consectetur pellentesque. Nam ac elit risus,
				ac blandit dui. Duis rutrum porta tortor ut convallis.
				Duis rutrum porta tortor ut convallis.
			</p>

      <p>
        <strong>Posted by - Subhadeep</strong>
      </p>
      <p>
        <span class="glyphicon glyphicon-heart" aria-hidden="true">78</span>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true">200</span>
      </p>
		</div>

		<div class="pin">
			<img src="2.jpg" />
			<p>
				Donec a fermentum nisi.
			</p>
		</div>

		<div class="pin">
			<img src="3.jpg" />
			<p>
				Nullam eget lectus augue. Donec eu sem sit amet ligula
				faucibus suscipit. Suspendisse rutrum turpis quis nunc
				convallis quis aliquam mauris suscipit.
			</p>
		</div>

		<div class="pin">
			<img src="4.jpg" />
			<p>
				Nullam eget lectus augue. Donec eu sem sit amet ligula
				faucibus suscipit. Suspendisse rutrum turpis quis nunc
				convallis quis aliquam mauris suscipit.
			</p>
		</div>

		<div class="pin">
			<img src="5.jpg" />
			<p>
				Donec a fermentum nisi. Integer dolor est, commodo ut
				sagittis vitae, egestas at augue.
			</p>
		</div>

		<div class="pin">
			<img src="6.jpg" />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Sed feugiat consectetur pellentesque. Nam ac elit risus,
				ac blandit dui. Duis rutrum porta tortor ut convallis.
				Duis rutrum porta tortor ut convallis.
			</p>
		</div>

		<div class="pin">
			<img src="7.jpg" />
			<p>
				Nullam eget lectus augue. Donec eu sem sit amet ligula
				faucibus suscipit. Suspendisse rutrum turpis quis nunc
				convallis quis aliquam mauris suscipit.
				Duis rutrum porta tortor ut convallis.
			</p>
		</div>

		<div class="pin">
			<img src="8.jpg" />
			<p>
				Nullam eget lectus augue.
			</p>
		</div>

		<div class="pin">
			<img src="9.jpg" />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Sed feugiat consectetur pellentesque.
			</p>
		</div>

		<div class="pin">
			<img src="7.jpg" />
			<p>
				Donec a fermentum nisi. Integer dolor est, commodo ut
				sagittis vitae, egestas at augue. Suspendisse id nulla
				ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
			</p>
		</div>

		<div class="pin">
			<img src="4.jpg" />
			<p>
				Donec a fermentum nisi. Integer dolor est, commodo ut
				sagittis vitae, egestas at augue. Suspendisse id nulla
				ac urna vestibulum mattis.
			</p>
		</div>

		<div class="pin">
			<img src="3.jpg" />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Sed feugiat consectetur pellentesque. Nam ac elit risus,
				ac blandit dui. Duis rutrum porta tortor ut convallis.
			</p>
		</div>

		<div class="pin">
			<img src="4.jpg" />
			<p>
				Donec a fermentum nisi. Integer dolor est, commodo ut
				sagittis vitae, egestas at augue. Suspendisse id nulla
				ac urna vestibulum mattis.
			</p>
		</div>

		<div class="pin">
			<img src="5.jpg" />
			<p>
				Donec a fermentum nisi. Integer dolor est, commodo ut
				sagittis vitae, egestas at augue. Suspendisse id nulla
				ac urna vestibulum mattis.
			</p>
		</div>

		<div class="pin">
			<img src="1.jpg" />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Sed feugiat consectetur pellentesque. Nam ac elit risus,
				ac blandit dui. Duis rutrum porta tortor ut convallis.
			</p>
		</div>
	</div>

  <nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>




  </body>
</html>
