<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title of the Blog Allotted Dynamically</title>
    <link rel="stylesheet" href="../css/blog-post.css">
    <link rel="stylesheet" href="../../js/bootstrap.min.js">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="col-md-7">
        <div class="heading">
          <h1>Bum chiki chikini chiki Bum chiki chikini chiki</h1>

        </div>

        <div class="credits">
          <strong>By <a href="#">Subhadeep Sarkar</a></strong> on January 23, 2016

        </div>

        <div class="post">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </div>

        <h3>Comments</h3>

        <div class="comments">

          <div class="comment-details">
            <a href="#"><strong>Tor Ma</strong></a><font color="gray"> on January 23 2016 at 3:17p.m.</font>
          </div>

          <div class="comment">
            ore boka ja giye age bootstrap er gushtir folder gulo rep er directory r baire rakh noile ki66u bujhbi na

          </div>
          <div class="comment-details">
            <a href="#"><strong>Tor Ma</strong></a><font color="gray"> on January 23 2016 at 3:17p.m.</font>
          </div>

          <div class="comment">
            ore boka ja giye age bootstrap er gushtir folder gulo rep er directory r baire rakh noile ki66u bujhbi na

          </div>


        </div>


      </div>

      <div class="col-md-5">
        <h3>Popular Posts</h3>
        <div class="popular">
          <div class="post-image">
            <img src="http://p1.pichost.me/i/40/1630560.jpg" alt="Priyanka" />

          </div>
          <div class="post-title">
            Priyanka is hot. Koi shak?
          </div>

        </div>


      </div>

    </div>

    <div class="share-buttons">
      <ul>
        <li>f</li>
        <li>t</li>
        <li>p</li>
      </ul>

    </div>
  </body>
</html>
