<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Directions</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="col-md-4">
  			<h3>Where to Meet</h3>
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</div>
      <div class="col-md-4">
  			<h3>End of Journey</h3>
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</div>
      <div class="col-md-4">
  			<h3>Time of Meeting and Departure</h3>
        Meet at 7 A.M.<br>
        Depart at 7:30 A.M.
  		</div>

      <div class="col-md-12">
        <div class="map" style="padding:50px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14744.615815872816!2d88.367639!3d22.49840625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe987ca4c114fb6fe!2sJadavpur+University!5e0!3m2!1sen!2sin!4v1453735346166" class="col-md-12" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      </div>

    </div>

  </body>
</html>
