
<html>
<head>
</head>
<body>
Title:<textarea id="title" name="title"></textarea><br>
Description:<textarea id="title" name="description"></textarea><br>
<select>
<option>Tribal Stay</option>
<option>Marine Life Study</option>
<option>Village Safari</option>
<option>Musical Trek</option>
<option>Nature Trek</option>
<option>Fossil Hunting</option>
<option>Environmental Study</option>
<option>Art Village</option>
<option>Wildlife & Adventure</option>
</select>
Availability:<textarea id="title" name="av" placeholder="e.g. Daily or at a particular time of the year"></textarea><br>
Price(per person):<textarea id="title" name="pr" placeholder="Rs 100 per person Rs 10000 for private tour (upto 4 people)"></textarea><br>
Group Size (Min):<textarea id="gsmin" name="gsmin"></textarea><br>
Group Size (Max):<textarea id="gsmax" name="gsmax"></textarea><br>
Meeting Point:<textarea id="meet" name="meet" placeholder="Rs 2000 per person Rs 7500 for private tour (upto 4 people)"></textarea><br>
End Point:<textarea id="title" name="title" placeholder="Rs 2000 per person Rs 7500 for private tour (upto 4 people)"></textarea><br>
Timings:<textarea id="time" name="time" placeholder="[placeholder: mention the time of meeting, the departure time and approximate time needed to complete the tour]"></textarea><br>
Share the google maps url:<textarea id="gmaps" name="gmaps" placeholder="Share Google Maps Link"></textarea><br><br>
<b>Image 1</b><input name="up1" type="file"><br>
<b>Image 2</b><input name="up2" type="file"><br>
<b>Image 3</b><input name="up3" type="file"><br>
<b>Image 4</b><input name="up4" type="file"><br>
<b>Image 5</b><input name="up5" type="file"><br>
<b>Image 6</b><input name="up6" type="file"><br>
<b>F.A.Q</b>
<b>Question 1:</b><br>
<textarea id="q1" name="q1"></textarea>
<br>
<b>Question 2:</b><br>
<textarea id="q2" name="q2"></textarea>
<br>
<b>Question 3:</b><br>
<textarea id="q3" name="q3"></textarea>
<br>
<b>Question 4:</b><br>
<textarea id="q4" name="q4"></textarea>
<br>
<b>Question 5:</b><br>
<textarea id="q5" name="q5"></textarea>
<br>
<b>Question 6:</b><br>
<textarea id="q6" name="q6"></textarea>
<br>
<b>Question 7:</b><br>
<textarea id="q7" name="q7"></textarea>
<br>
<b>Question 8:</b><br>
<textarea id="q8" name="q8"></textarea>
<br>
<b>Question 9:</b><br>
<textarea id="q9" name="q9"></textarea>
<br>
<b>Question 10:</b><br>
<textarea id="10" name="10"></textarea>
<br>
</body>
</html>