<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tour Name Entered Dynamically</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/tour.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/explore.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container-fluid">
      <div class="hero-banner">
        <img src="../../cover.jpg" alt="cover" />
        <div class="hero-overlay">
          <h1>&nbsp;  Explore</h1>
          <span>Choose from Available Categories</span>
        </div>

      </div>
      <div class="categorisation">

        <div class="details">
          <div class="container">
            <h1>Categories:</h1>

            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/b3.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">
                  Dinosaur Fuck

                </div>
              </div>

            </div>

            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/chair.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/glass.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/t2.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/tribal.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/v2.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/vase.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/bird.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="categories">
                  <img src="../../new/nature.jpg" alt="dino" />


                <div class="tour-icon">

                </div>
                <div class="tour-type">

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>


  </body>
</html>
