/*=================Global CSS=================*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition-duration: 500ms;
}
body{
  font-size: 100%;
  font-family: helvetica;
  background-color: lightgray;
}
img{
  width: 100%;
}
#header{
  background-color: #000;
  text-align: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  color: #fff;
  float: left;
}
#search-bar{
  background-color: #000;
  text-align: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  color: #fff;
  float: left;
}
#search-bar input{
  margin-top: 15px;
  font-size: 18px;
  background-color: #000;
  border: 0px;
  border-bottom: 1px solid lightgray;
  color: #fff;
  width: 90%;
}
#search-bar input:focus{
  outline: none;
}
#search-bar img{
  width: 15px;
  height: 15px;
  margin-top: 18px;
}
#menu-button{font-size: 1.6em;
  font-weight: bolder;
  color: #fff;
  left: 5px;
  display: inline-block;
  position: absolute;
}
#brand-logo{
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
#brand-logo img{
  height: 40px;
  width: 60px;
}
#search-button{
  right: 5px;
  position: absolute;
  font-size: 21px;
  font-weight: bolder;
  color: #fff;
  margin-right: 2%;
  display: inline-block;
}
#search-button img{
  margin-top: 15px;
  width: 20px;
  height: 20px;
}

#menu{
  position: fixed;
  top: 0px;
  background-color: rgba(255, 255, 255, 1);;
  width: 80%;
  height: 100%;
  z-index: 0;
  overflow: auto;
}
#user{
  height: 150px;
  border-bottom: 1px solid lightgray;
}
#userdp{
  height: 70px;
  width: 70px;
  padding: 10px;
  display: inline-block;
}
#close{
  float: right;
  padding: 20px;
}
#close img{
  height: 15px;
  width: 15px;
}
#userdp img{
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
#username{
  padding: 10px;
}
#menu-button img{
  height: 20px;
  width: 20px;
  margin-top: 15px;
}
.menu-hide{
  margin-left: -100%;
}
.menu-show{
  margin-left: 0%;
}
#menu-list ul li{
  list-style-type: none;
  padding: 5%;
  text-align: center;
}
#menu-list li{
  border-bottom: 1px solid lightgray;
}
#menu-list li a{
  text-decoration: none;
  color: #565353;
}
#content{
  position: relative;
  margin-top: 50px;
}
#overlay-right{
  top: 50px;
  right: 0px;
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
}
.olay{
  margin-right: -100%;
}
/*
#overlay-left{
  top: 50px;
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 8;
  margin-right: -100%;
}
#overlay-top{
  top: 50px;
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 8;
  margin-right: -100%;
}
#overlay-bottom{
  top: 50px;
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 8;
  margin-right: -100%;
}*/
.showlay{
  margin-right: 0%;
}
.wrapper{
  position: relative;
  min-width: 320px;
  z-index: 0;
}
.full{
  height: 150px;
  overflow: hidden;
  background-color: aqua;
  position: relative;
}
.full img{

}
.half{
  width: 50%;
  height: 150px;
  float: left;
  position: relative;
  overflow: hidden;
}
.half img{
  width: 100%;
}
.image{
  position: relative;
}
.title{
  position: absolute;
  color: #fff;
  bottom: 10%;
  padding-left: 5%;
}
.overlay{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.overlay{background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
}

.hide{
  display: none;
}
.show{
  display: block;
}
#copyright{
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 10px;
}
